{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WELLCOME</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

</head>
<center><body>

    <div class="welcome">
        <h1>Welcome to the Citizen-Complaints Engagement System (CCES) </h1><br><img src="/static/img/hands2.png" style="width: 60%; height: 420px;">
           </div>

           <div class="welcome">
           <h2>Do you have complaint or feedback to the  Government public services such as:</h2>
           <div class="card-container">
            {% for service in services %}
            <div class="service-card">
                <div class="service-title" style="color: black;">{{ service.serviceType }}</div>
                <div class="service-def">{{ service.definition|default:"No description available."|truncatewords:30 }}</div>
                
                <div style="margin-top: 1rem;">
                </div>
            </div>
            {% empty %}
            <p>No public services are registered yet.</p>
            {% endfor %}
        </div>
        
        <div class="welcome">
            <h1>It's longtime raising your hand!! Please <a href="/login/" class="login-button">Login</a> to access your account.  </h1>
               </div>


</body>
</center>
</html>
