{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submit Feedback</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/submit_complaint.css' %}">
</head>
<body>
    <div class="container">
        <h2>Submit Feedback</h2>
        
        <form method="POST">
            {% csrf_token %}
            
            <p><strong>Service:</strong> {{ service.serviceType }}</p>

            <input type="hidden" name="service_id" value="{{ service.id }}">

            <label for="details">Feedback</label>
            <textarea name="details" id="details" rows="5" required class="form-control"></textarea>
        
            <button type="submit" class="btn btn-success mt-2">Submit Feedback</button>
        </form>
        
        <a href="/citizen/dashboard" style="padding: 2%;">
            <button class="edit-button">Back</button>
        </a>
    </div>
</body>
</html>
